<% params[:filter] = params.key?(:filter) ? params[:filter].to_sym : :weekly -%>
<% if Status.filter_types.include?(params[:filter]) -%>
  <% if params[:filter] == :daily %>
    <% # This is the biggest hack of hacks. I don't care. I want my daily totals and shit's fucked backwards up there with fudge_numbers %>
    <% total = fudge_total_daily_hours(@daily_hours) if !@daily_hours.nil? %>

	<% else -%>
  	<% chart_labels = chart_labels_for(params[:filter], date_range) -%>
    <% colors = ["224499", "6688AA", "bb9999","AABBCC","afafaf"] %>
  
    <% unless hours.empty? %>
      <% days, chart_data, total = fudge_data_from(hours, chart_labels) %>
      <% max = normalized_max(days) %>
      <% chart_hash = { :max => max, :days => days, :chart_data => chart_data, :colors => colors, :date_range => date_range, :chart_labels => chart_labels } %>

      <% if [:weekly, :monthly, :biweekly].include?(params[:filter]) -%>
        <%= render :partial => "statuses/gchart_#{params[:filter]}", :locals => chart_hash %>
      <% else -%>
        <%= render :partial => "statuses/gchart_other", :locals => chart_hash %>
      <% end -%>
    <% end # hours.empty? -%>
  <% end # ! daily %>
  
  <p class="special-num">
    <% if total && chart.hours(params[:filter], params[:date]) > total %>
    <span class="main-num"><%= number_with_precision chart.hours(params[:filter], params[:date]), :precision => 2 %></span>
      <span class="quiet">
        Everyone's <%= period_to_sentence(params[:filter], date_range, total) %>
      </span>
      <span class="main-num"><%= number_with_precision total, 2 %></span>
      <span class="quiet">
        Filtered
      </span>
    <% else %>
    <span class="main-num"><%= number_with_precision chart.hours(params[:filter], params[:date]), :precision => 2 %></span>
    <span class="quiet">
      <%= period_to_sentence(params[:filter], date_range, total) %>
    </span>
    <% end %>
    <%= paging_for_period(date_range) %>
  </p>
<% else -%>
	<p>Invalid filter: <%=h params[:filter] %></p>
<% end -%>