<h3>Recent Statuses for <%=h(@user ? @user.login : @project.name) %></h3>

<table>
<% @record.statuses.each do |status| -%>
<tr>
  <td><%=h status.created_at %></td>
	<td>
		[<%= status.project? ? link_to(status.project.name, status.project) : :Out %>]
	</td>
	<td>
		<%= link_to h(status.message), status %>
		<% unless status.hours.zero? -%>(<%= pluralize status.hours, 'hour' %>)<% end -%>
	</td>
	<td><%= nice_timer_for status %></td>
</tr>
<% end -%>
</table>

<%= render :partial => "statuses/form", :locals => { :status => @user.statuses.build } if @user %>