<% box(:special, "overview") do |box| %>

  <% if @status.followup %>
    <% box.title = %(<span class="utc">#{@status.created_at.to_s}</span> - <span class="utc">#{@status.followup.created_at.to_s}</span>) %>
  <% else %>
    <% box.title = %(<span class="utc">#{@status.created_at.to_s}</span> - Now</span>) %>
  <% end %>
  
  <% box.content = capture do %>
  <ul class="media-list">
    <li class="media-item clearfix last">
      <div class="media">
        <%= gravatar_for current_user %>
      </div>
      <div class="media-content">
        <h4 class="media-title"><%=h @status.message %></h4>
        <p class="quiet">posted <%= status_at @status %></p>
        <% if @status.followup.nil? %>
        <span class="others">
          <span class="num"><%= nice_timer_for @status %></span>
          <span class="meta">logged</span>
        </span>
        <% else %>
        <span class="others">
          <span class="num"><%= @status.hours.to_f %></span>
          <span class="meta">hours</span>
        </span>
        <% end %>
      </div>
    </li>
  </ul>
  <% end %>

<% end %>

<% box :normal, 'form' do |box| %>
  <% box.title = "Modify this status" %>
  <% box.content = capture do %>
  <% form_for @status, :html => { :class => 'form' } do |f| %>
  <table cellspacing="0" cellpadding="0" class="tblform">
    <tr>
      <th>
        <label for="status">Started <%= @status.created_at.strftime("%A, %B %d") %> at:</label>
      </th>
      <td>
        <input type="text" id="created-at" name="status[set_created_at]" value="<%= @status.created_at.strftime("%H:%m %p") %>" />
      </td>
    </tr>
    <tr>
      <th><label for="status">Finished <%= @status.created_at.strftime("%A, %B %d") %> at:</label></th>
      <td><input type="text" id="finished-at" name="status[set_finished_at]" value="<%= @status.created_at.strftime("%H:%m %p") %>" /></td>
    </tr>
    <tr>
      <th><label for="status">Total hours worked:</label></th>
      <td><input type="text" id="hours-worked" name="status[set_created_at]" value="<%= @status.created_at.strftime("%H:%m %p") %>" /></td>
    </tr>
    <tr>
      <td colspan="2"><p class="btns"><%= save_button %></p></td>
    </tr>
  </table>
    <% end %>
  <% end %>
<% end %>
<%= yield :normal_box %>

<% statuses = [@status.previous, @status, @status.followup] %>
<%= render :partial => "timeline", :locals => { :status => @status.previous, :title => "Previous" } if @status.previous %>
<%= render :partial => "timeline", :locals => { :status => @status, :title => "Current" } %>
<%= render :partial => "timeline", :locals => { :status => @status.followup, :title => "Next" } if @status.followup %>
