<%= link_to_function 'add a new member', 'InlineForm.toggleAdd(this)', :class => 'showlink' %>
<div class='formWrapper' style='display:none'>
  <% form_remote_for Membership.new, :url => memberships_url, :success => 'InlineForm.toggleAdd(this)' do |f| %>
    <%= hidden_field_tag :group_id, @group.id %>
    <% users = User.find(:all) - @group.users %>
    <select name='user_id'>
      <%= options_from_collection_for_select users, :id, :login %>
    </select>
    
    <%= f.submit "Add User" %>
    or <%= link_to_function 'cancel', 'InlineForm.toggleAdd(this)' %>
  <% end %>
</div>
