<h1>Group: <%=h @group.name %></h1>

<h2>Members</h2>
<ul>
<% @group.users.each do |member| %>
  <%= h(member.login) %>
  <% if member == @group.owner %>
  [owner]
  <% else %>
  __remove__
  <% end %>
<% end %>
</ul>

__add user__

<h2>Projects</h2>
<ul>
<% @group.projects.each do |project| %>
  <li><%= link_to(h(project.name), project) %></li>
<% end %>
</ul>

<div id='new_project_container'>
  <%= link_to_function 'new project', 'InlineForm.toggleAddInline("new_project_container")', :class => 'showlink' %>
  
  <div class='formWrapper' style='display:none'>
    <% form_for Project.new do |f| %>
      <%= hidden_field_tag :group_id, @group.id %>
      <%= render :partial => 'projects/form', :object => f %>
      
      <%= f.submit "Create Project" %>
      or <%= link_to_function 'cancel', 'InlineForm.toggleAddInline("new_project_container")' %>
    <% end %>
  </div>
</div>