<% box(:special, 'overview') do |box| %>
  <% box.title = "What are you working on?" %>
  <% box.content = capture do %>
    <% form_for current_user.statuses.build do |f| -%>
    <ul class="media-list">
      <li class="media-item status-form">
  			<%= f.text_area :message, :rows => 2, :cols => 55, :class => 'status-entry' %>
  			<p class="btns"><input type="image" src="/images/btns/ghost.png" class="btn" /></p>
      </li>
      <li class="media-item clearfix last">
        <div class="media">
          <%= gravatar_for current_user %>
        </div>
  		<% if current_user.last_status -%>
        <div class="media-content">
  			<% if current_user.last_status_project -%>
          <h4 class="media-title"><a href="/video/2323">You're working on <%= link_to_project current_user.last_status_project %></a></h4>
  			<% end -%>
          <p class="quiet"><%=h current_user.last_status_message %></p>
          <span class="datetime"><%= time_ago_in_words current_user.last_status_at %> ago</span>
        </div>
  		<% end -%>
      </li>
    </ul>
  	<% end -%>
  <% end %>
<% end %>

<div class="mblock">
  <div class="mblock-hdr">
    <h3>What's everyone else working on?</h3>
  </div>
  <div class="mblock-cnt">
    <ul id="timeline" class="media-list">
		<% current_user.related_users.each do |user| -%>
      <li class="media-item clearfix">
        <div class="media">
          <%= gravatar_for user %>
        </div>
        <div class="media-content">
          <h4 class="media-title"><a href="/video/2323"><%= link_to_user user %> <%= status_summary user.last_status_project %></a></h4>
          <p class="quiet"><%= status_for user %></p>
          <span class="datetime"><%= status_at user %></span>
        </div>
      </li>
		<% end -%>
    </ul>
  </div>
  <div class="mblock-footer">
    <a href="#">5 other people haven't worked today &raquo;</a>
  </div>
</div>


<% box(:sidebar, 'projects') do |sbox| %>
  <% sbox.title = "Projects" %>
  <% sbox.content_classes = "nopad" %>
  <% if current_user.archived_projects %>
  <% sbox.footer = %(<a href="#">Archived Projects &raquo;</a>) %>
  <% end rescue '' %>
  <% sbox.content = capture do %>
  <ul class="text-list">
  <% if current_user.projects.any? %>
	<% current_user.projects.each do |project| -%>
    <li>
      <a href="<%= url_for project %>">
        <span class="ttl"><%=h project.name %></span>
        <span class="desc">20 hours today by 3 people</span>
      </a>
    </li>
	<% end -%>
	<% else %>
	<li class="last">
	  <a href="#">
	    <span class="ttl">You don't have any projects</span>
	    <span class="desc">Create one now?</span>
	  </a>
	</li>
	<% end %>
  </ul>
  <% end %>
<% end %>