<div class="mblock special">
  <div class="mblock-hdr">
    What are you working on?
  </div>
  <div class="mblock-cnt">
		<% form_for current_user.statuses.build do |f| -%>
    <ul class="media-list">
      <li class="media-item status-form">
				<%= f.text_area :message, :rows => 2, :cols => 55, :class => 'status-entry' %>
      </li>
      <li class="media-item clearfix last">
        <div class="media">
          <%= gravatar_for current_user %>
        </div>
			<% if current_user.last_status -%>
        <div class="media-content">
				<% if current_user.last_status_project -%>
          <h4 class="media-title"><a href="/video/2323">You're working on <%= link_to_project current_user.last_status_project %></a></h4>
				<% end -%>
          <p class="quiet"><%=h current_user.last_status_message %></p>
          <span class="datetime"><%= time_ago_in_words current_user.last_status_at %> ago</span>
        </div>
			<% end -%>
      </li>
    </ul>
		<% end -%>
  </div>
</div>



<div class="mblock">
  <div class="mblock-hdr">
    <h3>What's everyone else working on?</h3>
  </div>
  <div class="mblock-cnt">
    <ul id="timeline" class="media-list">
      <li class="media-item clearfix">
        <div class="media">
          <img src="images/courtenay.jpg" alt="Courtenay" class="thumbnail" />
        </div>
        <div class="media-content">
          <h4 class="media-title"><a href="/video/2323">Courtenay is out to lunch</a></h4>
          <p class="quiet">Going to get some sushi at Sinju.</p>
          <span class="datetime">35 minutes ago</span>
        </div>
      </li>
      <li class="media-item clearfix">
        <div class="media">
          <img src="images/justin.jpg" alt="Justin" class="thumbnail" />
        </div>
        <div class="media-content">
          <h4 class="media-title"><a href="/video/2323">Justin is working on Digisynd</a></h4>
          <p class="quiet">Implemented a footer.</p>
          <span class="datetime">5 minutes ago</span>
        </div>
      </li>
      <li class="media-item clearfix last">
        <div class="media">
          <img src="images/mattly.jpg" alt="Mattly" class="thumbnail" />
        </div>
        <div class="media-content">
          <h4 class="media-title"><a href="/video/2323">Mattly is working on XTT</a></h4>
          <p class="quiet">Creating some killer shit.</p>
          <span class="datetime">5 minutes ago</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="mblock-footer">
    <a href="#">5 other people haven't worked today &raquo;</a>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="sbox invite">
    Justin has invited you to join XTT.
  </div>
  
  <div class="sbox invite">
    Matt has invited you to join rails_fu.
  </div>
<% end %>

<% sidebar_box('projects') do |sbox| %>
  <% sbox.title = "Projects" %>
  <% sbox.content_classes = "nopad" %>
  <% sbox.footer = %(<a href="#">Archived Projects &raquo;</a>) %>
  <% sbox.content = capture do %>
  <ul class="text-list">
	<% current_user.projects.each do |project| -%>
    <li>
      <a href="#">
        <span class="ttl"><%= link_to_project project %></span>
        <span class="desc">20 hours today by 3 people</span>
      </a>
    </li>
	<% end -%>
  </ul>
  <% end %>
<% end %>