<% box(:special, 'project-header') do |box| %>
  <% box.title = "What are you doing?" %>
  <% box.content = capture do %>
    <% form_for current_user.statuses.build do |f| -%>
      <ul class="media-list">
        <li class="media-item status-form last">
    			<%= f.text_area :message, :rows => 2, :cols => 55, :class => 'status-entry' %>
					<%= f.hidden_field :project_id %>
    			<p class="btns"><%= update_button %></p>
        </li>
        <li id="project-head">
          <h2><%=h @user.login %></h2>
        </li>
        <li class="clearfix" style="border-bottom:0">
<%= render :partial => "statuses/chart", :locals => {:hours => @hours, :date_range => @date_range} %>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<div class="mblock">
  <div class="mblock-hdr">
    <h3><%= h(@user.login) %> Timeline</h3>
    <div class="utils">
			<%= link_to_filtered_statuses(:Daily, :filter => 'daily', :date => nil) %>
			<%= link_to_filtered_statuses(:Week,  :filter => 'weekly', :date => nil) %>
			<%= link_to_filtered_statuses('Bi-weekly', :filter => 'bi-weekly', :date => nil) %>
			<%= link_to_filtered_statuses(:Month, :filter => 'monthly', :date => nil) %>
    </div>
  </div>
  <div class="mblock-cnt">
    <ol id="timeline" class="media-list">
    <% prev_status = '' %>
		<% if @statuses.each_with_index do |status, index| -%>
      <li class="hentry media-item clearfix<%= %( last) if first_in_collection?(@statuses, index) %><%= %( daybreak)  if (status.created_at.day != prev_status.created_at.day) rescue '' %>">
        <% if (index == 0) || (status.created_at.day != prev_status.created_at.day) %>        
        <p class="day-break" style="display:none">
          <span class="day"><%= js_day status.created_at %></span>
          <span class="num"><%= js_day_name status.created_at %></span>
        </p>
        <% else  %>
        <span class="time-span" style="display:none"><%= status.created_at.to_s :time %></span>
        <% end -%>
        <% prev_status = status %>
        
        <div class="media vcard author">
          <%= link_to gravatar_for(status.user), status.user %>
        </div>
        <div class="media-content">
          <h4 class="media-title status"><%= link_to(status_for(status), status, :class => 'entry-title entry-content') %></h4>
          <p class="quiet">posted <%= status_at status %> from <strong><%=h status.source || "the web" %></strong></p>
          <% if status.processed? -%>
          <span class="others">
            <span class="num"><%= status.hours.to_f %></span>
            <span class="meta">hours</span>
          </span>
          <% end %>
        </div>
      </li>
		<% end.empty? -%>
			<li>No status updates have been posted yet.</li>
		<% end -%>
    </ol>
		<%= will_paginate @statuses %>
  </div>
</div>