  <%# contexts = current_user.memberships.contexts or something else like [[@context, @context.memberships]]%>
  <div id="projectlist">
    <h2>Your Projects</h2>
    
    <ul class="text-list" id="project-lists">
    <% unless current_user.projects.empty? %>
    <% contexts.each do |context, memberships| %>
      <% total_project = memberships.map { |m| m.project.statuses.filtered_hours(nil, :daily) } %>
      <% total_user_hours = total_project.sum { |m| m.total(current_user) } %>
      <% total_project_hours = total_project.sum { |m| m.total } %>
      <li class='context'>
        Context: 
        <a href="<%= url_for_context context %>">
          <span class="ttl"><%= context ? h(context.name) : :etc %></span>
          <span class="desc">&nbsp;</span>
          <span class="you">
            <span class="num"><%= number_with_precision total_user_hours, :precision => 2 %></span>
            <span class="meta">you</span>
          </span>
          <span class="others">
            <span class="num"><%= number_with_precision total_project_hours - total_user_hours, :precision => 2 %></span>
            <span class="meta">others</span>
          </span>
        </a>
      </li>
    	<% memberships.each_with_index do |membership, index| -%>
    	  <% project = membership.project %>
  			<% project_hours = project.statuses.filtered_hours(nil, :daily) ; user_hours = project_hours.total(current_user) -%>
        <li<%= %( class="last") if first_in_collection?(current_user.projects, index) %> id="project-<%= project.id %>">
          @<%=h membership.code %> <%= link_to h(project.name), project %>
          <span class="you">
            <span class="num"><%= number_with_precision user_hours, :precision => 2 %></span>
            <span class="meta">you</span>
          </span>
          <span class="others">
            <span class="num"><%= number_with_precision project_hours.total - user_hours, :precision => 2 %></span>
            <span class="meta">others</span>
          </span>
        </li>
    	  <% end -%>
      <% end -%>
  	<% else %>
    	<% new_project_text = capture do %>
    	  <span class="ttl">You don't have any projects</span>
        <span class="desc">Create one now?</span>
    	<% end %>
  	<% end %>
    </ul>
  </div>
  
  <div id="newproject" style="padding:9px">
    <%#= render :partial => '/projects/new' %>
  </div>
