<h1><%=h @project.name %></h1>

<% if @status -%>
<p><strong>Currently...</strong> <%=h @status.message %></p>
<% end -%>

<ul>
<% @project.statuses.each do |status| -%>
	<li>
	  <%= link_to h(status.user.login), status.user %>:
		<%=h status.message %>
		<span class="timer" id="timer_<%= dom_id status %>"><%= nice_time status.accurate_time %></span>
		<% unless status.hours.zero? -%>(<%= pluralize status.hours, 'hour' %>)<% end -%>
	</li>
	
	<%= periodically_call_remote(:url => status_path(status), 
	      :update => "timer_#{dom_id(status)}",
	      :frequency => 1,
	      :method => :get) unless status.followup # only update current state %>
  
<% end -%>
</ul>

<p><%= link_to 'Statuses', project_statuses_path(@project) %></p>