<h1><%=h @project.name %></h1>

<% if @status -%>
<p><strong>Currently...</strong> <%=h @status.message %></p>
<% end -%>

<table id="<%= dom_id(@project) %>_statuses">
<% @project.statuses.each do |status| -%>
	<tr>
	  <td><%= link_to h(status.user.login), status.user %></td>
	  <td><%=h status.message %></td>
	  <td><%= status.created_at.strftime("%Y-%h-%d %H:%M")%></td>
	  <td><%= nice_timer_for status %> <% unless status.hours.zero? -%>(<%= pluralize status.hours, 'hour' %>)<% end -%></td>
	</tr>
<% end -%>
</table>

<p><%= link_to 'Statuses', project_statuses_path(@project) %></p>