<div class="mblock special">
  <div class="mblock-hdr">
    <%=h @project.name %>
  </div>
</div>

<div class="mblock">
  <div class="mblock-hdr">
    <h3>What's everyone working on?</h3>
  </div>
  <div class="mblock-cnt">
    <ul id="timeline" class="media-list">
		<% @project.statuses.each do |status| -%>
      <li class="media-item clearfix">
        <div class="media">
          <%= gravatar_for status.user %>
        </div>
        <div class="media-content">
          <p class="quiet"><%= status_for status %></p>
          <span class="datetime"><%= status_at status %></span>
        </div>
      </li>
		<% end -%>
    </ul>
  </div>
  <div class="mblock-footer">
    <a href="#">5 other people haven't worked today &raquo;</a>
  </div>
</div>

<% sidebar_box('projects') do |sbox| %>
  <% sbox.title = "Invitations" %>
  <% sbox.content_classes = "nopad" %>
  <% sbox.content = capture do %>
		<% form_for @project.memberships.build do |f| -%>
			<div>
				<%= f.select :user_id, (User.find(:all) - @project.users).collect { |p| [p.login, p.id] } %>
				<%= f.submit :Invite %>
				<%= f.hidden_field :project_id %>
			</div>
		<% end -%>
  <% end %>
<% end %>