<div class="mblock special">
  <div class="mblock-hdr">
    <%=h @project.name %>
  </div>
</div>

<div class="mblock">
  <div class="mblock-hdr">
    <h3>What's everyone working on?</h3>
  </div>
  <div class="mblock-cnt">
    <ul id="timeline" class="media-list">
		<% @project.users.each do |user| -%>
      <li class="media-item clearfix">
        <div class="media">
          <img src="images/courtenay.jpg" alt="Courtenay" class="thumbnail" />
        </div>
        <div class="media-content">
          <h4 class="media-title"><a href="/video/2323"><%= link_to_user user %> is working on <%= link_to_project user.last_status_project %></a></h4>
          <p class="quiet"><%=h user.last_status_message %></p>
          <span class="datetime"><%= time_ago_in_words user.last_status_at %> ago</span>
        </div>
      </li>
		<% end -%>
    </ul>
  </div>
  <div class="mblock-footer">
    <a href="#">5 other people haven't worked today &raquo;</a>
  </div>
</div>