<% box(:special, 'project-header') do |box| %>
  <% box.title = "What are you doing on #{h(@project.name)}?" %>
  <% box.content = capture do %>
    <% form_for current_user.statuses.build(:project => @project) do |f| -%>
      <ul class="media-list">
        <li class="media-item status-form last">
    			<%= f.text_area :message, :rows => 2, :cols => 55, :class => 'status-entry' %>
					<%= f.hidden_field :project_id %>
    			<p class="btns"><input type="image" src="/images/btns/ghost.png" class="btn" /></p>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<div class="mblock">
  <div class="mblock-hdr">
    <h3><%= h(@project.name) %> Timeline</h3>
  </div>
  <div class="mblock-cnt">
    <ul id="timeline" class="media-list">
		<% @project.statuses.each_with_index do |status, index| -%>
      <li class="media-item clearfix<%= %( last) if first_in_collection?(@project.statuses, index) %>">
        <div class="media">
          <%= gravatar_for status.user %>
        </div>
        <div class="media-content">
          <p class="quiet"><%= status_for status %></p>
          <span class="datetime"><% if status.processed? -%><%= pluralize status.hours.to_f, 'hour' %>, <% end -%>posted <%= status_at status %></span>
        </div>
      </li>
		<% end -%>
    </ul>
  </div>
</div>

<% box(:sidebar, "tools") do |sbox| %>
  <% sbox.title = "Invite someone to this project" -%>
  <% content_for :dom_loaded do %>
    new Control.Tabs("tool-tabs", {
      linkSelector: 'a',
      afterChange: function(container) {
        var item = container.readAttribute('id');
        if(item == "edit") {
          $('sbox-tools').down('h3').update("Edit this project");
        } else {
          $('sbox-tools').down('h3').update("Invite someone to this project");
        }
      }
      });
  <% end %>
  <% sbox.header_utils = %(
    <div id="tool-tabs">
      <a href="#invite">Invite</a> 
      <a href="#edit">Edit</a>
    </div>) %>
    
  <% sbox.content = capture do %>
    <div id="invite">
    <% form_for @project.memberships.build do |f| -%>
  		<div>
  			<%= f.select :user_id, (User.find(:all) - @project.users).collect { |p| [p.login, p.id] } %>
  			<%= f.submit :Invite %>
  			<%= f.hidden_field :project_id %>
  		</div>
  	<% end -%>
  	</div>
  	<div id="edit">
  	  <%= error_messages_for :project %>
      <% form_for @project, :html => {:class => 'form'} do |f| -%>
      <%= render :partial => "form", :object => f %>
      	<p class="btns"><%= update_button %></p>
      <% end -%>
  	</div>
  <% end %>
<% end %>

<% box(:sidebar, 'people') do |sbox| %>
  <% sbox.title = "People and hours" %>
  <% sbox.content_classes = "nopad" %>
  <% sbox.content = capture do %>
   <ul id="timeline" class="media-list">
		<% @project.users.each_with_index do |user, index| -%>
      <li class="media-item clearfix<%= %( last) if first_in_collection?(@project.users, index) %>">
        <div class="media">
          <%= gravatar_for user %>
        </div>
        <div class="media-content">
          <h4 class="media-title"><%= link_to_user(user, "#{user.login}") %></h4>
          <p class="quiet">Active 40 minutes ago</p>
          <span class="you">
            <span class="num">3.4</span>
            <span class="meta">today</span>
          </span>
          <span class="others">
            <span class="num">20.12</span>
            <span class="meta">total</span>
          </span>
        </div>
      </li>
      <% end %>
    </ul>
  <% end %>
<% end %>