<% box(:special, 'project-header') do |box| %>
  <% box.title = "What are you doing on #{h(@project.name)}?" %>
  <% box.content = capture do %>
    <% form_for current_user.statuses.build(:project => @project) do |f| -%>
      <ul class="media-list">
        <li class="media-item status-form last">
    			<%= f.text_area :message, :rows => 2, :cols => 55, :class => 'status-entry' %>
					<%= f.hidden_field :project_id %>
    			<p class="btns"><%= update_button %></p>
        </li>
        <li id="project-head">
          <h2><%=h @project.name %></h2>
        </li>
        <li class="clearfix" style="border-bottom:0">
<%= render :partial => "statuses/#{params[:filter]}_chart", :locals => {:hours => @hours, :date_range => @date_range} %>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<div class="mblock">
  <div class="mblock-hdr">
    <h3><%= h(@project.name) %> Timeline</h3>
    <div class="utils">
			<%= link_to_filtered_statuses(:Daily, :filter => 'daily') %>
			<%= link_to_filtered_statuses(:Week,  :filter => 'weekly') %>
			<%= link_to_filtered_statuses('Bi-weekly', :filter => 'bi-weekly') %>
			<%= link_to_filtered_statuses(:Month, :filter => 'monthly') %>
    </div>
  </div>
  <div class="mblock-cnt">
    <ol id="timeline" class="media-list">
    <% prev_status = '' %>
		<% if @statuses.each_with_index do |status, index| -%>
      <li class="hentry media-item clearfix<%= %( last) if first_in_collection?(@statuses, index) %><%= %( daybreak)  if (status.created_at.day != prev_status.created_at.day) rescue '' %>">
        <% if (index == 0) || (status.created_at.day != prev_status.created_at.day) %>        
        <p class="day-break" style="display:none">
          <span class="day"><%= js_day status.created_at %></span>
          <span class="num"><%= js_day_name status.created_at %></span>
        </p>
        <% else  %>
        <span class="time-span" style="display:none"><%= status.created_at.to_s :time %></span>
        <% end -%>
        <% prev_status = status %>
        
        <div class="media vcard author">
          <%= link_to gravatar_for(status.user), status.user %>
        </div>
        <div class="media-content">
          <h4 class="media-title status"><%= link_to(status_for(status), status, :class => 'entry-title entry-content') %></h4>
          <p class="quiet">posted <%= status_at status %> from <strong><%=h status.source || "the web" %></strong></p>
          <% if status.processed? -%>
          <span class="others">
            <span class="num"><%= status.hours.to_f %></span>
            <span class="meta">hours</span>
          </span>
          <% end %>
        </div>
      </li>
		<% end.empty? -%>
			<li class="last">No status updates have been posted yet.</li>
		<% end -%>
    </ol>
		<%= will_paginate @statuses %>
  </div>
</div>

<% box(:sidebar, "tools") do |sbox| %>
  <% sbox.title = "Invite someone to this project" -%>
  <% sbox.content = capture do %>
    <div id="invite">
      <p>Invite someone to this project using their email or username.  Separate each item with a comma.</p>    
		<% form_tag invite_project_path(@project), :class => 'form' do -%>
			<p><%= text_area_tag :emails, '',  :rows => 3, :cols => 20  %></p>
    	<p class="btns"><%= save_button %></p>
		<% end -%>
  	</div>
		<% if @project.owned_by? current_user -%>
  		<% sbox.header_utils = %(
  		  <div id="tool-tabs">
  		    <a href="#invite">Invite</a>
  		    <a href="#tracking">Auto update</a>
  		    <a href="#edit">Edit</a>
  		  </div>) %>
  		<% content_for :dom_loaded do %>
  		  new Control.Tabs("tool-tabs", {
  		    linkSelector: 'a',
  		    afterChange: function(container) {
  		      var item = container.readAttribute('id');
  		      if(item == "edit") {
  		        $('sbox-tools').down('h3').update("Edit this project");
  		      } else if(item == "invite") {
  		        $('sbox-tools').down('h3').update("Invite someone to this project");
  		      } else {
  		        $('sbox-tools').down('h3').update("Auto track updates");
  		      }
  		    }
  		    });
  		<% end %>
  	<div id="edit" style="display:none">
  	  <%= error_messages_for :project %>
      <% form_for @project, :html => {:class => 'form'} do |f| -%>
      <%= render :partial => "form", :object => f %>
      	<p class="btns"><%= update_button %></p>
      <% end -%>
  	</div>

  	<div id="tracking" style="display:none">
  	  <% if @project.feeds.size > 0 %>
  	   <ul class="text-list">
        <% @project.feeds.each_with_index do |feed, index| %>
          <li<%= %( class="last") if first_in_collection?(@project.feeds, index) %>>
            <span class="ttl"><%= link_to h(feed.name), feed %></span>
            <span class="desc">Updated 10 minutes ago</span>
          </li>
        <% end %>
        </ul>
        <% end %>
                
        <% form_for @project.feeds.new, :html => {:class => 'form' } do |f| -%>    	  
        <p>Have an RSS feed that you'd like to auto update this project with?</p>
        
          <%= f.hidden_field :project_id %>
          <p>
            <label for="project_feed_name">Give this feed a title</label>
            <%= f.text_field :name %>
          </p>
          <p>
            <label for="project_feed_url">URL of feed</label>
            <%= f.text_field :url, :value => "http://" %>
          </p>
      		<p class="btns"><%= save_button %></p>
        <% end -%>
  	</div>
		<% end -%>
  <% end -%>
<% end -%>

<% box(:sidebar, 'people') do |sbox| %>
  <% sbox.title = "Filter this project by a member" %>
  <% sbox.content_classes = "nopad" %>
  <% if params[:user_id] %>
  <% sbox.header_utils =  link_to_filtered_statuses("Remove filter", {:user_id => :all}) %>
  <% end %>
  <% sbox.content = capture do %>
   <ul class="media-list">
		<% @project.users.each_with_index do |user, index| -%>
      <li class="media-item clearfix<%= %( last) if first_in_collection?(@project.users, index) %>">
        <div class="media">
          <%= gravatar_for user %>
        </div>
        <div class="media-content">
          <h4 class="media-title">
						<%= link_to_filtered_statuses h(user.login), :user_id => (user == current_user ? :me : user) %>
						<% if user.id == @project.user_id -%>(owner)<% end -%>
					</h4>
          <p class="quiet"><% if user.last_status_id -%>Active <%= js_time_ago_in_words user.last_status_at %><% else -%>Inactive<% end -%></p>
          <span class="you">
            <span class="num"><%= number_with_precision @project.daily_member_hours[user.id].to_f, 2 %></span>
            <span class="meta">today</span>
          </span>
          <span class="others">
            <span class="num"><%= number_with_precision @project.member_hours[user.id].to_f, 2 %></span>
            <span class="meta">total</span>
          </span>
        </div>
      </li>
      <% end %>
    </ul>
  <% end %>
<% end %>