<% box(:special, 'project-header') do |box| %>
  <% box.title = "What are you doing on #{h(@project.name)}?" %>
  <% box.content = capture do %>
    <% form_for current_user.statuses.build(:project => @project) do |f| -%>
      <ul class="media-list">
        <li class="media-item status-form last">
    			<%= f.text_area :message, :rows => 2, :cols => 55, :class => 'status-entry' %>
					<%= f.hidden_field :project_id %>
    			<p class="btns"><input type="image" src="/images/btns/ghost.png" class="btn" /></p>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<div class="mblock">
  <div class="mblock-hdr">
    <h3>What's everyone working on?</h3>
  </div>
  <div class="mblock-cnt">
    <ul id="timeline" class="media-list">
		<% @project.statuses.each do |status| -%>
      <li class="media-item clearfix">
        <div class="media">
          <%= gravatar_for status.user %>
        </div>
        <div class="media-content">
          <p class="quiet"><%= status_for status %></p>
          <span class="datetime"><%= status_at status %></span>
        </div>
      </li>
		<% end -%>
    </ul>
  </div>
  <div class="mblock-footer">
    <a href="#">5 other people haven't worked today &raquo;</a>
  </div>
</div>

<% box(:sidebar, 'invitations') do |sbox| %>
  <% sbox.title = "Invitations" %>
  <% sbox.content = capture do %>
		<% remote_form_for @project.memberships.build do |f| -%>
			<div>
				<%= f.select :user_id, (User.find(:all) - @project.users).collect { |p| [p.login, p.id] } %>
				<%= f.submit :Invite %>
				<%= f.hidden_field :project_id %>
			</div>
		<% end -%>
  <% end %>
<% end %>