<!-- begin _slider.html.erb -->

  <% sliders = sliders.map {|s| (s - s % 900).to_i } %>
  <% start = sliders.min %>
  <% limit = sliders.max + endpoint %>
  <% values  = [] %>
  <% e = (limit-start) / 300 %>
  <% e.to_i.times do |v| %>
    <% values << (300 * v).to_i %>
  <% end %>

  <!-- slider -->
  <div id="<%= name %>_wrap" style="width: 800px; background-color: #ccc; height: 20px;">
		<div id="<%= name %>_span" style="float: left; background-color: #666; height: 20px;"></span>
			<div id="<%= name %>_value-right" style="position: absolute; text-align: right; width: 800px;">50%</div>
			<div id="<%= name %>_value-left" style="position: absolute; width: 800px;">50%</div>
			<div id="<%= name %>_track" style="width: 800px; height: 20px; position: absolute;">
			  <% sliders.each_with_index do |slider, i| %>
				<div id="<%= name %>_handle_<%= i %>" style="position: absolute; width: 5px; height: 25px; background-color: #f00; cursor: col-resize;" class="slider"></div>
			  <% end %>
				</div>
			</div>
		</div>

<!-- 
<div id="<%= name %>" style="width:200px; background-color:#ccc; height:10px;">
	<div id="<%= name %>_handle" style="width:10px; height:15px; background-color:#f00; cursor:move;"></div>
</div>
-->
<p id="<%= name %>_debug1">&nbsp;</p>
<!-- >
<form name="form" method="post" action="/" id="slider-form" onsubmit="alert(Form.serialize($('slider-form'))); return false;">
	<input type="text" id="<%= name %>-slider" name="<%= name %>" value="0" onkeyup="setSliderValue(<%= name %>_slider, this.value);" /> 
	<input type="submit" name="submit" value="Submit Data" />
</form> -->

<script type="text/javascript" language="javascript">
// <![CDATA[
// horizontal slider control

$$('#<%= name %>_track .slider').each(function(i){Element.setOpacity(i,0.5)})

function upSlider(v){
  values = [];
  dates = [];
  v.map(function(value,i){
    dates[i] = new Date((value + <%= sliders.min %>) * 1000);
    values[i] = dates[i].toUTCString() + " (" + (nice_time(value)) + ")<br />";
  })

  if (dates[1]) $("status_fixed_created_at").value = dates[1].toUTCString();
  if (dates[2]) $("status_followup_time").value = dates[2].toUTCString();
  
  
  // $('<%= name %>_debug1').innerHTML = 'slide: ' + values.join(",<br/>");  
}

var <%= name %>_slider = new Control.Slider($$('#<%= name %>_track .slider'), '<%= name %>_track', {
		range:  $R(0,<%= limit.to_i - start %>),
		values: <%= values.inspect %>,
		sliderValue: <%= sliders.map { |s| (s - start)  }.inspect %>,
		startSpan: '<%= name %>_span',
    onSlide: upSlider,
    onChange: upSlider
  }
);

function setSliderValue(slider, value) {
// due to onChange code above we need this or 
// a 0 will be put in the text box when you delete the value
if (value == '') return;

if (isNaN(value))
	slider.setValue(0);
else
  slider.setValue(value/100);
}
// ]]>
</script>
<!-- end _slider.html.erb -->