<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'court3' %>
  <%= javascript_include_tag :defaults %>
  <%= yield :head %>
</head>

<body>
  <div id="menu">
  <% if logged_in? -%>
  	<%= link_to 'Projects', projects_path %>
  	<%= link_to 'Groups',   groups_path %>
  	<%= link_to 'Statuses', statuses_path %>
  	<%= link_to 'Everyone', users_path %>

    <div class="login">
      <%= link_to h(current_user.login), current_user %>
      <% if status = current_user.statuses.latest %>
        is currently: <%= link_to h(status.message), status %>
        <% if project = status.project %>
        <%= link_to h(project.name), project %>
        <% else %>
        (Out)
        <% end %>
      <% end %>
      &raquo;
    	<%= link_to 'Logout', logout_path %>
    </div>
  <% else -%>
    <div class="login">
  	  <%= link_to 'Login', login_path %>
  	  <%= link_to 'Signup', signup_path %>
  	</div>
  <% end -%>
  </div>
  
  <div id="content">
  <%= yield %>
  </div>

  <div id="foot">
  <% if logged_in? %>
    <% if status = current_user.statuses.latest and status.project %>
    <%= render :partial => "layouts/take_a_break" %>
    <% else %>
    <%= render :partial => "layouts/work_on_something" %>
    <% end %>
  <% end %>
  </div>

</body>
</html>